/*--------------------Variables--------------------*/
:root {
  --bg-color: #ebebeb;
  --input-placeholder: #d4d4d4;
  --input-bg: #efefef;
  --texto-destaque: #ffff;
  --azul-destaque: #2a7ae4;
  --bg-contacto: #c8dfff;
}

/*--------------------Normalize--------------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Releway", sans-serif;
  background-color: var(--bg-color);
}
:-webkit-any(article, aside, nav, section) h1,
h2,
h3,
h4,
h5,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/*--------------------Patrón del proyecto--------------------*/
input,
input:focus,
textarea,
textarea:focus {
  font-family: "Releway", sans-serif;
  border: none;
  -webkit-appearance: none;
  -moz-apperarance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  padding: 0px;
  resize: none;
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: var(--azul-destaque);
  font-weight: 800;
}

button {
  cursor: pointer;
}

/*--------------------Header General--------------------*/

header {
  background-color: var(--texto-destaque);
  padding: 1rem;
}

nav {
  width: 80%;
  justify-content: center;
  margin: auto;
}
.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*-----html Login -----*/

.form-control,
.container-producto {
  background-color: var(--bg-color);
  height: 70vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-control input,
button {
  width: 20vw;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  color: var(--azul-destaque);
}
.form-control button {
  background-color: var(--azul-destaque);
  color: var(--bg-color);
}
.form-control button:hover {
  background-color: var(--bg-color);
  color: var(--azul-destaque);
}
.form-control h2 {
  font-size: 1rem;
}
/*-----html Login -----*/

/*-----html agregar producto -----*/
.form-producto {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  align-items: center;
}
.add-input {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  width: 90%;
}
.add-input label,
input,
textarea {
  color: grey;
}
#AddProducto {
  font-size: 1.5rem;
  color: white;
  background-color: var(--azul-destaque);
  width: 100%;
  height: 4rem;
}
/*-----html agregar producto -----*/

/*--------------------Divs del Header--------------------*/
.lupa {
  display: none;
}
.logo-busqueda {
  width: 40rem;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 3rem;
}

.logo p {
  font-size: 2rem;
  font-weight: bold;
}

.logo .logo-azul {
  margin-left: 0.5rem;
  color: var(--azul-destaque);
}

.logo-busqueda input {
  margin-left: 2rem;
  width: 20rem;
  height: 2rem;
  border-radius: 2rem;
  padding: 1% 3%;
  border: none;
  background-color: var(--input-bg);
  background-image: url(assets/lupa.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 18rem;
}

.login {
  width: 30rem;
  display: flex;
  justify-content: end;
}

.login button {
  width: 12rem;
  height: 3rem;
  color: var(--azul-destaque);
  background: none;
  border: 1px solid var(--azul-destaque);
  text-transform: uppercase;
}

.login button:hover {
  background-color: var(--azul-destaque);
  color: var(--texto-destaque);
}

/*--------------------Banner Promocional--------------------*/

.destaque {
  height: 35vh;
  color: rgba(0, 0, 0, 0.486);
  background-image: linear-gradient(#2a7be498, rgba(0, 0, 0, 0.61)),
    url("assets/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.5rem;
}
.letras {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}
.banner {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  gap: 1rem;
}

.banner h1 {
  color: var(--texto-destaque);
  font-size: 3rem;
  font-weight: bold;
}

.banner h4 {
  color: var(--texto-destaque);
  font-size: 2rem;
  font-weight: bold;
}

.banner button {
  background-color: var(--azul-destaque);
  border: none;
  color: var(--texto-destaque);
  height: 2.5rem;
  width: 7rem;
}

/*--------------------Sección de productos--------------------*/

.geral-prods {
  padding: 1.5rem;
}
.productos {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

/*-----------------Divs en la Sección de Productos totales-------------*/
.seccion-productos-totales {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.prod-holder-totales {
  width: 10vw;
}
/*-----------------Divs en la Sección de Productos totales-------------*/
/*-----------------Divs en la Sección de Productos-------------*/

.prod-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-titulo .titulo {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.mostrar-mas {
  font-weight: bold;
  color: var(--azul-destaque);
}

.seccion-productos {
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.produto img {
  width: 100%;
}
.descrição {
  font-style: 1rem;
}
.preco {
  font-weight: bold;
}

/*--------------------Form Contacto--------------------*/

.contacto {
  background-color: var(--bg-contacto);
  padding: 1.5rem;
}
.contenidoContacto {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 1rem;
  justify-content: space-between;
}
.referencia {
  display: flex;
  height: 4rem;
  align-items: center;
  gap: 0.5rem;
}

.referencia img {
  height: 1.5rem;
}

.referencia p,
.referencia span {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--azul-destaque);
}
.referencia span {
  color: black;
  margin-left: -0.5rem;
}

.links-utiles {
  line-height: 2.5rem;
}

.links-utiles a {
  color: black;
  font-weight: normal;
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 1rem;
}

.form p {
  font-weight: bolder;
}

.form input,
#msg {
  width: 95%;
  height: 3rem;
  border: transparent;
  padding: 0.5rem;
  color: var(--azul-destaque);
}

.form input:hover,
#msg:hover {
  border-bottom: solid 2px var(--azul-destaque);
  transition: linear 1s;
}

.form button {
  background-color: var(--azul-destaque);
  border: none;
  color: var(--texto-destaque);
  height: 3rem;
  width: 10rem;
}
.form button:hover {
  background-color: var(--input-bg);
  color: var(--azul-destaque);
}
.footer {
  padding: 1rem 1rem 0 1rem;
}
.footer p {
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
}
.detalleProducto {
  display: flex;
  padding: 1.5rem;
  height: 50vh;
}
.producto-cuerpo {
  display: flex;
  margin: auto;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 40vh;
}
.imagenProducto {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.imagenProducto img {
  position: absolute;
  margin: auto;
  width: 100%;
}
.textoProducto .Titulo{
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  header {
    padding: 0.5rem 0;
  }
  nav {
    width: 90%;
  }
  .logo-busqueda {
    width: 25rem;
  }
  .logo p {
    font-size: 1.5rem;
  }
  .logo-busqueda input {
    width: 10rem;
    margin-left: 1rem;
    background-position: 9.6rem;
  }
  .login {
    width: 8rem;
  }
  .login button {
    width: 8rem;
    height: 2rem;
  }
  .logo img {
    width: 2rem;
  }
  /*--------------------Form login--------------------*/
  .form-control {
    height: 45vh;
  }
  .form-control input {
    width: 40vw;
  }
  /*--------------------Form login--------------------*/

  .destaque {
    padding: 1.5rem 0;
    height: 45vh;
  }
  .letras {
    width: 90%;
  }
  .banner {
    gap: 0.5rem;
  }
  .banner h1 {
    font-size: 2rem;
  }
  .banner h4 {
    font-size: 1rem;
  }
  .geral-prods {
    padding: 1.5rem 0;
  }
  .productos {
    width: 90%;
  }
  .prod-titulo .titulo {
    font-size: 1.5rem;
  }

  .prod-holder:nth-child(6),
  .prod-holder:nth-child(5) {
    display: none;
  }
  .prod-holder-totales {
    width: 20vw;
  }
  .contacto {
    padding: 1.5rem 0;
  }
  .contenidoContacto {
    width: 90%;
    flex-wrap: wrap;
    position: relative;
    height: auto;
  }
  .form {
    width: 60%;
  }
  .form input {
    height: 1.5rem;
  }
  .links-utiles {
    order: +1;
    position: absolute;
    line-height: 1.8rem;
    bottom: 0;
  }
  .container-producto {
    margin: auto;
    height: auto;
    padding: 1.5rem 0;
  }
  .form-producto {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .logo-busqueda {
    width: 8rem;
  }
  .logo-busqueda input {
    display: none;
  }
  .logo img {
    width: 1.5rem;
  }
  .logo p {
    font-size: 1rem;
  }
  .logo .logo-azul {
    margin-left: 0.25rem;
  }
  .lupa {
    display: block;
  }
  .login-menu button {
    width: auto;
  }
  .destaque {
    padding: 1rem 0;
    height: 30vh;
  }
  .banner {
    gap: 0.3rem;
  }
  .banner h1 {
    font-size: 1.2rem;
  }
  .banner h4 {
    font-size: 0.8rem;
  }
  .banner button {
    height: 2rem;
    width: 6rem;
  }
  .seccion-productos {
    flex-wrap: wrap;
  }
  .prod-holder,
  .prod-holder-totales {
    width: 47%;
  }
  .contenidoContacto {
    justify-content: center;
    height: auto;
  }
  .referencia {
    height: auto;
  }
  .links-utiles {
    position: relative;
    text-align: center;
    order: 0;
  }
  .form {
    width: 100%;
  }
  .footer p {
    font-size: 0.7rem;
  }
  #AddProducto {
    font-size: 1rem;
    padding: 0.5rem;
    height: 3rem;
  }
  .detalleProducto{
    padding: 0;
    height: 70vh;
  }
  .producto-cuerpo{
    flex-direction: column;
    height: 70vh;
    width: 100%;
  }
  .textoProducto{
    width: 90%;
  }
}
